.work {
  padding: 170px 0 80px;
  &__title {
    max-width: 490px;
    color: var(--color-shark);
    margin-bottom: 79px;
  }
}
.tabs {
  &__top {
    @include flex-all-sb;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-shark);
  }
  &__nav-item {
    &:not(:last-child) {
      margin-right: 42px;
    }
  }
  &__nav-btn {
    text-transform: uppercase;
    padding: 14px 0 4px;
    color: var(--color-shark);
    transition: color 0.2s, border 0.2s, background-color 0.2s;
    &:focus {
      color: var(--color-shark);
      border-bottom: 1px solid var(--color-shark);
      background-color: transparent;
    }
  }
  &__descr {
    max-width: 320px;
  }
}
