<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__subscribe">
        <a class="logo footer__logo" href="index.html">
          <img
            class="logo__img"
            src="img/footer-logo.svg"
            alt="Logo"
            width="144"
            height="27"
          />
        </a>
        <form class="footer__form" action="#">
          <span class="footer__form-title">Stay in the Know</span>
          <input
            class="input-reset footer__input"
            type="email"
            placeholder="Email Address"
            required
          />
          <button class="btn-reset footer__btn" type="submit">
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="footer__nav">
        <h2 class="setion-subtitle footer__title">
          We collaborate with ambitious brands and people. Let's build.
        </h2>
        <div class="footer__nav-wrapper">
          <ul class="list-reset footer__list">
            <li class="footer__item footer__item-title">Social</li>
            <li class="footer__item">
              <a class="footer__link" href="#">Instagram</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Facebook</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Telegram</a>
            </li>
          </ul>
          <ul class="list-reset footer__list">
            <li class="footer__item footer__item-title">SITE</li>
            <li class="footer__item">
              <a class="footer__link" href="#">Works</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Our Services</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <span class="footer__copy">Modern Site ©</span>
  </div>
</footer>
