<header class="header">
  <div class="container header__container">
    <a class="logo header__logo" href="index.html">
      <img
        class="logo__img"
        src="img/logo.svg"
        alt="Logo"
        width="144"
        height="27"
      />
    </a>
    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
    <nav class="nav" title="Navigation" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#work" data-menu-item>Our Work</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#service" data-menu-item>Our Service</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts" data-menu-item>Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
