<section class="hero">
  <img
    class="hero__img"
    src="img/hero-img.jpg"
    alt=""
    width="1440"
    height="800"
  />
  <div class="hero__wrapper">
    <h1 class="hero__title">
      Purpose-driven experiences convert customer attention and loyalty
    </h1>
    <p class="descr hero__descr">
      Modernsite designs and develops beautifully designed and cutting-edge
      e-commerce and small business websites around customer needs.
    </p>
    <a class="btn hero__btn" href="#">Start Growing</a>
  </div>
</section>
