<section class="services" id="service">
  <div class="container">
    <div class="services__top">
      <h2 class="section-title services__title">Our Services</h2>
      <p class="setion-subtitle services__subtitle">
        skills and tools that enable businesses to take a step
      </p>
    </div>
    <ul class="list-reset services__list">
      <li class="services__item service">
        <h3 class="service__title">REDESIGN</h3>
        <ul class="list-reset service__list">
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
        </ul>
      </li>
      <li class="services__item service">
        <h3 class="service__title">SMALL BUSINESS</h3>
        <ul class="list-reset service__list">
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
        </ul>
      </li>
      <li class="services__item service">
        <h3 class="service__title">E-Commerce</h3>
        <ul class="list-reset service__list">
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
          <li class="service__item">
            <h4 class="service__subtitle">REDESIGN WEB-SITE</h4>
            <p class="descr service__descr">
              Conducted a review of the current site, identified pain points
              that did not allow the client to be more recognizable Conducted a
              review of the current site, identified pain points that did not
              allow the client to be more recognizable
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
